<div class="row">
  <div class="col-xs-12 mainNav">
    <a href="#/shop"><button class="btn btn-info">Back To All Items</button></a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <h2 ng-init="cartTotal()">Total In Cart = {{cartTotal | currency}}</h2>
  </div>
</div>

<div class="cartCookies col-sm-4" ng-repeat="item in items">
  Qty: <select value="{{item.quantity}}" ng-model="item.quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
      <button ng-click="editItem(item)">Update Qty</button>
  <cart-directive title="{{item.title}}" price="{{item.price}}" image="{{item.image}}" description="{{item.description}}"></cart-directive>
  <button class="btn btn-danger" ng-click="deleteItem(item._id)">Remove From Cart</button>
  <p>SubTotal: {{item.quantity * item.price | currency}}</p>
</div>


<!-- <div class="allCookies" ng-repeat="item in items">
  <ul class="cookies">
    <input type="number" value="{{item.quantity}}">
    <li><h2>{{item.title}}</h2></li>
    <li><h4>{{item.price}}</h4></li>
    <li><img src="{{item.image}}" alt=""></li>
    <li><p>{{item.description.substring(0, 200)}}</p></li>
    <li class="cookieButton"><a href="#/shop/{{item._id}}"><button>View More</button></a></li>
    <li class="cookieButton"><button ng-click="deleteItem(item._id)">Remove From Cart</button></li>
  </ul>
</div> -->
