<div class="row">
  <div class="col-xs-12 mainNav">
    <a href="#/"><button class="btn btn-info">Home Page</button></a>
    <a href="#/shop/cart"><button class="btn btn-success"><i class="fa fa-shopping-cart"></i></button></a>
  </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-12 specificItem" ng-repeat="product in products">
      <product-directive title="{{product.title}}" price="{{product.price}}" image="{{product.image}}" description="{{product.description}}"></product-directive>
      <a href="#/shop/{{product._id}}"><button class="btn btn-info">View More</button></a>
      <a href="#/shop/cart"><button class="btn btn-success" ng-click="addItem(product)"><i class="fa fa-shopping-cart"></i></button></a>
      <hr>
    </div>
</div>

<!-- <div class="allCookies" ng-repeat="product in products">
  <ul class="cookies">
    <li><h2>{{product.title}}</h2></li>
    <li><h4>{{product.price}}</h4></li>
    <li><p>{{product.description.substring(0, 200)}}</p></li>
    <li class="cookieButton"><a href="#/shop/{{product._id}}"><button>View More</button></a></li>
    <li class="cookieButton"><button ng-click="addItem(product)">Add To Cart</button></li>
  </ul>
</div> -->
