<div class="row">
  <div class="col-xs-12 mainNav">
    <a href="#/shop"><button class="btn btn-info">Back To All Items</button></a>
    <a href="#/shop/cart"><button class="btn btn-success">Go To Cart</button></a>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 specificProduct">
      <h2>{{singleProduct.title}}</h2>
      <h3>Price: {{singleProduct.price | currency}}</h3>
      <img ng-src="{{singleProduct.image}}" style="height: 300px;">
      <p>Product Description: {{singleProduct.description}}</p>
      <button class="btn btn-success" ng-click="addItem(singleProduct)"><i class="fa fa-shopping-cart"></i></button>
    </div>
    <div class="col-md-6 reviewForm">
      <form ng-submit="addReview(review)">
        <h2>Review {{singleProduct.title}}</h2>
        <h3><input type="text" placeholder="Enter Your Name" ng-model="review.author"></h3>
        <p><textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Review" ng-model="review.description"></textarea></p>
        <button type="submit" class="btn btn-success">Submit Review</button>
      </form>
    </div>
  </div>
</div>

<div class="reviewColumn">
  <h2 class="leftReviews">Reviews:</h2>
  <div class="eachReview" ng-repeat="review in singleProduct.reviews">
    <h5>Reviewed On: {{review.reviewDate | date : format : timezone}} by {{review.reviewAuthor}}</h5>
    <p>Review: {{review.reviewDescription}}</p>
    <hr>
  </div>
</div>
