Item View:

<a href="#/shop"><button>Back To All Items</button></a>
<a href="#/shop/cart"><button>Go To Cart</button></a>


<div class="eachProduct">
  <div class="specificProduct">
    <h2>{{singleProduct.title}}</h2>
    <h4>Price: {{singleProduct.price}}</h4>
    <img ng-src="{{singleProduct.image}}" style="height: 300px;">
    <p>Product Description: {{singleProduct.description}}</p>
    <a href=""><button class="deleteButton" ng-click="rate = !rate">Review Item</button></a>
    <button class="deleteButton" ng-click="addItem(product)">Add To Cart</button>
  </div>
</div>

<form ng-show="rate" ng-submit="addReview(review)">
  <h3><input type="text" placeholder="Enter Your Name" ng-model="review.author"></h3>
  <p><textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Review" ng-model="review.description"></textarea></p>
  <button ng-click="rate = !rate">Submit Review</button>
</form>
