body {
  background-image: Url("http://subtlepatterns.com/patterns/restaurant_icons.png");
}

h2 {
  text-align: center;
}

.mainNav {
  text-align:right;
  button {
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.mainHeading {
  text-align: center;
  h2 {
    font-size: 5em;
  }
}

.shopping {
  text-align: center;
  button {
    font-size: 3em;
  }
}

.specificItem {
  margin: 5px;
  text-align: center;
  .list {
    list-style-type: none;
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 50%;
    }
  }
  button {
    margin-bottom: 10px;
  }
}

.cartCookies {
  text-align: center;
  .list {
    list-style-type: none;
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 60%;
    }
  }
  button {
    margin-bottom: 10px;
  }
}

.createForm, .editForm {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  form {
    width: 100%;
    input, textarea {
      width: 40%;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }
    button{
      margin-bottom: 10px;
      font-size: 1.5em;
  }
  }
}

.specificProduct {
  text-align: center;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.3);
  button {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.reviewForm {
  text-align: center;
  border-radius: 5px;
  form {
    width: 100%;
    input, textarea {
      width: 40%;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }
    button{
      margin-bottom: 10px;
      font-size: 1.5em;
    }
  }
}

.reviewColumn {
  margin-left: 10px;
  .leftReviews {
    text-align: left;
  }
  .eachReview {
    width: 25%;
  }
}
